<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.5 user-scalable=yes">
 <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
 <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0"> 
 <META HTTP-EQUIV="EXPIRES" CONTENT="0">

<title>DOCOVA Mobile</title>
<script type="text/javascript">
    

    function showAndroidWorkflowScreen() {
        //alert("redirecting to workflow screen")
        DOCOVA_MOBILE_HOOK.showWorkflowActionScreenFromDocument();
    }
    function showIOSWorkflowScreen() {
        window.location.href="https://www.docova.net/workflowcompletedtoken/";
    }


</script>
</head>
<body>
<script type="text/javascript">
{% if app.request.query.get('device') == 'android' %}
	showAndroidWorkflowScreen();
{% elseif app.request.query.get('device') == 'ios'%}
	showIOSWorkflowScreen();
{% endif %}

</script>
</body>
</html>