<!doctype html>
<html>
<head>
<title>ACL Add Role Dialog</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<style type="text/css">
HTML, BODY {
	font-family: Verdana, Arial;
	font-size: 11px;
}
</style>
<link rel="stylesheet" href="{{ asset('bundles/docova/css/admin/styleAdministration.css') }}" type="text/css" />
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery-ui.js') }}"></script>
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/js/Docova.js') }}"></script>
<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
	$("#ACLRoleName").bind("keyup", function(event) {
		newstring = $(this).val().replace(/[^a-z0-9\s]/gi, '') //Rolename will only be alpha numeric
		newstring = newstring.substr(0, 15); //Rolename can only be a max of 15 chars
		$("#ACLRoleName").val(newstring)
	});
});
</script>
</head>
<body text="#000000" bgcolor="white" class="dlgBody" SCROLL="no">
	<div id="dlgContentNh" class="ui-widget" style="width: 100%;">
		<table class="tblFields" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td width="100%" colspan="2"><font color="#808080">{% trans %}Type a new Role to add for this Application.{% endtrans %}</font></td>
			</tr>
			<tr valign="top">
				<td width="22%">{% trans %}New Role{% endtrans %}:</td>
				<td width="78%"><input name="ACLRoleName" value="" id="ACLRoleName"></td>
			</tr>
			<tr valign="top">
				<td width="100%" colspan="2"><font color="#808080">{% trans %}Role names can be alpha numeric with spaces, up to 15 characters.{% endtrans %}</font></td>
			</tr>
		</table>
	</div>
	<!------------------ SUBFORM sfKillCache ------------>
	<!------------------Microsoft suggestion to force no cacheing of documents------------>
<HEAD>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="0">
<META HTTP-EQUIV="EXPIRES" CONTENT="0">
</HEAD>
<!------------------END SUBFORM sfKillCache  ------------>
</body>
</html>