<!DOCTYPE html>
<html>
<head>
<title>Applications</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/smoothness/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/docova/font-awesome/css/all.min.css') }}">
<script type="text/javascript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script language="JavaScript" type="text/javascript">
var srch = "";
var srchArray;
var iconhtml = "";
var alliconhtml = "";
{% include 'DocovaBundle:AppBuilder:FontAwesomeIcons.html.twig' %}
var jq_items = fa_items;



$(document).ready(function() 
{
	//generate and store html for all icons
	for (var x = 0; x < jq_items.length; x++) {
		iconhtml += "<a title='" + jq_items[x] + "' role='button' href='#' class='iconpicker-item'><i class='" + jq_items[x] + "'></i></a>"
	}
	alliconhtml = iconhtml;
	var delayMilliseconds = 750; // i.e. = 1 second
	var timeoutId;
	$("#IconSearch").on('keyup', function() {
		if (timeoutId) {
			clearTimeout(timeoutId);
		}
		timeoutId = setTimeout(geticons,
				delayMilliseconds);
	});

	//Initialize icons
	geticons();
});

function geticons() {
	srch = $("#IconSearch").val();
	if (srch == "") {
		$("#iconpicker").html(alliconhtml);
	} else {
		iconhtml = ""
		for (var x = 0; x < jq_items.length; x++) {
			if (jq_items[x].indexOf(srch) > -1) {
				iconhtml += "<a title='" + jq_items[x] + "' role='button' href='#' class='iconpicker-item'><i class='" + jq_items[x] + "'></i></a>";
				$("#iconpicker").html(iconhtml)
			}
		}
	}
	//set click on returned icons
	$(".iconpicker-item").click(function() {
		$(".iconpicker-selected").removeClass("iconpicker-selected");
		$(this).addClass("iconpicker-selected");
		$("#SelectedIcon").val($(this).prop("title"));
	});
	return;
}
</script>
<style type="text/css">
table {
	display: block;
	width: 100%;
	overflow-y: auto;
	table-layout: fixed;
	border-collapse: collapse;
}

.iconpicker-item {
	float: left;
	width: 14px;
	height: 14px;
	padding: 12px;
	margin: 0 12px 12px 0;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	font-size: 14px;
	box-shadow: 0 0 0 1px #ddd;
	color: inherit
}

#IconSearch{
	padding:8px;
	width:90%;
}

.iconpicker {
	width: 420px;
	height: 390px;
	border: 1px solid black;
	overflow: auto;
	padding:12px;
}

.iconpicker-selected {
	background-color: #C0C0C0;
}
</style>
</head>
<body text="#000000" bgcolor="#FFFFFF">
	<form method="post" action="" name="_dlgJQIconPicker">
		<table style="width: 100%; table-layout: fixed; display: table;">
			<tr>
				<td><input name="IconSearch" value="" id="IconSearch" placeholder="{% trans %}Type words here to search icons{% endtrans %}"><br><br></td>
			</tr>
			<tr>
				<td style="vertical-align: top;">
					<div id="iconpicker" class="iconpicker"></div>
				</td>
			</tr>
		</table>
		<div style="display: none;">
			{% trans %}Selected Icon{% endtrans %}: <input name="SelectedIcon" value="" id="SelectedIcon">
		</div>
	</form>
</body>
</html>