<!doctype html>
<html>
<head>
<title>Application</title>
</head>
 
<frameset  id="fsSubLayout" COLS="42,*" FRAMESPACING="2" FRAMEBORDER="1" BORDER="1px">
	<frame  FRAMEBORDER="0" SCROLLING="no" style="border-right:2px solid #6CAFD3" id="fraLeftFrame" name="fraLeftFrame" SRC="{{ path('docova_appbuilderleftnav') }}">
	<frameset id="fsContentFrameset" ROWS="40,*" FRAMEBORDER="0" BORDER="0" FRAMESPACING="0">
		<frame TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" id="fraTabbedTable" name="fraTabbedTable" SRC="{{ path('docova_tabbedtablebuilder') }}">
		<frame TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" id="appBuilderMain" name="appBuilderMain" SRC="{{ path('docova_appbuilderhome') }}">
	</frameset>
</frameset>
</html>