<!doctype html>
<html>
<HEAD>
<TITLE>{% trans %}Application{% endtrans %}</TITLE>
</HEAD>
<HTML>
	{% if layout %}
		{% include 'DocovaBundle:DesignElements:' ~ appid ~ '/layouts/' ~ layout.getLayoutId|replace({' ':'', '\\': '-', '/':'-'}) ~ '.html.twig' %}
	{% else %}
		<frameset><frame src="{{ path('docova_emptycontent') }}"></frameset>
	{% endif %}
</HTML>