	<button title="{% trans %}New View{% endtrans %}" icon="ui-icon-document" onclick="createDoc(event); return false;" ></button>
	<button title="{% trans %}Import View{% endtrans %}" icon="ui-icon-document" onclick="ImportDesignElement('View'); return false;"></button> 