/*
html 
{
    height:100%; 
    max-height:100%; 
    padding:0;
    margin:0; 
    border:0; 
    background:#C4C0AE;
}
*/
/* this is required for overflow */
BODY 
{ 
    	background-color: #FFFFFF;
    	font : normal 11px Verdana,  Arial, sans-serif;
	overflow:hidden; 
	height:100%; 
	max-height:100%; 
	padding:0; 
	margin:0; 
	border:0;
}
#FormHeader 
{
    position:absolute; 
    top:0; 
    left:0; 
    display:block; 
    width:100%; 
    height:30px; 
    z-index:5; 
    overflow:hidden; 
    padding: 5px 6px 0px 6px; 
    background-color: #ECE9D8; 
}
#divContentSection 
{
    top:-5px; 
    left:0; 
    right:0; 
    bottom:0; 
    height:100%; 
    max-height:100%;
    min-width: 600px;
    overflow:auto; 
    position:absolute; 
    z-index:3; 
    border-top:32px solid #fff; 
    padding: 7px 0px 7px 7px;
}
/*CSS modification for IEBox layout */
/* not needed
* html #divContentSection 
{
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    height:100%; 
    max-height:100%;
    width:100%; 
    overflow:auto; 
    position:absolute; 
    z-index:3; 
    border-top:32px solid #fff; 
    padding: 7px 7px 7px 7px;
}
*/
TD 
{ 
    /* white-space: nowrap;   => nowrap property will cause printing problems*/
    white-space: normal;
    margin: 0px;
    padding: 0px; 
    font : normal 11px  Verdana,  Arial, sans-serif;
    color: #000000;
}  
TD.fieldLabelCell
{
    border-bottom: solid 1px #dddddd;
 	/*border-bottom: solid 1px #436BA3;*/
}
TD.fieldCell
{
     border-bottom: solid 1px #dddddd;
}
SELECT, INPUT 
{
    color: Black;
    background-color: White;
    font : normal 11px Verdana,  Arial, sans-serif;
    border: 1px solid #808080;
}
INPUT.inpRadioChkbox
{
    background-color: transparent;
    font : normal 11px Verdana,  Arial, sans-serif;
    border: 0px;
}
/*fieldset { border:1px solid green }*/
legend
{
    font: bold 12px verdana,arial;
    /* color: #0050D1; */
}
legend.customSubForm
{
    font: bold 11px verdana,arial;
    color: #171C1E;
}
TEXTAREA
{
	color: black;
	line-height: normal;
	font-family: Verdana,  Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	border-top-color: #808080;
	border-right-color: #808080;
	border-bottom-color: #808080;
	border-left-color: #808080;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: white;
	overflow: auto;
}
span.lblHeader
{
    font: bold 11px verdana,arial;
    /*color: #0050D1; */
}

span.optionsContainer
{
	font: 11px/normal verdana, arial, sans-serif; 
	margin: 3px 2px 3px 0px; 
	padding: 4px; border: 1px solid rgb(136, 170, 204); 
	width: 310px; height: 160px; 
	-ms-overflow-x: hidden; 
	-ms-overflow-y: auto; 
	font-size-adjust: none; 
	font-stretch: normal; 
	background-color: white;
}
.red { color: red; }
.purple { color: purple; }
.blue { color: blue; }