/* CSS used for Web Admin navigation links */
#divContentSectionUserProfile 
{
    position:absolute;
    overflow:auto;
    top:30px; 
    bottom:0px; 
    left:0px; 
    right:0px; 
    margin: 7px;
    width:99%; 
}
#navigation
{
    position:absolute;
    top: 28px;
    left: 15px;
}
#userContent
{
    margin-left: 180px;
}
TABLE#tblNavigation{
  border-left:0px solid #89B1E4;
  border-top:1px solid #89B1E4;
  border-right:0px solid #76A5E0;
  border-bottom:1px solid #89B1E4;
  border-collapse:collapse;
  width: 160px;
  padding-left: 5px;
}
TABLE#tblNavigation TD {
    font: 11px Verdana, Arial, sans-serif ;
    color:#2253AF;
    display: block;
    width: auto;
    text-decoration: none;
    height: 20px;
    padding-left: 2px;
    border-bottom: 1px solid #EFEFEF;
    width:100%;
}
.clicked{
    background-color:#DBEBFF; /* when link is clicked */
}
.over{
    background-color:#FFE9A9; /* hover  #BDDAFF*/
}
.out{
    background-color:#FFFFFF;
}
/* wingding for square [character => "<"] */
#spanWingDing{
	font-family: Webdings;
	font: bold 8px;
	color:#BF2F12 
}