body
{
	height: 100%;
	max-height: 100%;
	overflow:hidden;
	padding: 0;
	margin: 0;
	border: 0;
	/*background-color: #c0c0c0;*/
	background-color: #FFFFFF
}
#divContentSection {
	position: absolute;
	overflow: auto;
	top: 35px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	padding: 5px 5px 5px 5px;
	background-color: #FFFFFF;
	background-image:none;
}

#divContentSection.app-form {
	top: 67px;
}

#divContentSection.app-subform {
	top: 67px;
}

#divContentSection.app-page {
	top: 67px;
}

#dlgContentSection {
	position: absolute;
	overflow: auto;
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	background-color: #FFFFFF;
	background-image:none;
}
#southpane SPAN.longtext_values {
	background-color: #E7E7E7;
	border:1px #AAA solid;
	padding-top: 2px;
	overflow: hidden;
	display: block;
	min-height: 17px;
	max-height:30px;
	width: 90%;
}
.formsection {
	overflow-x: hidden !important;
	background-color: #FFFFFF;
	background-image:none;	
}
.doctypeSection {
	border: 1px solid gray;
}
.ui-widget { /*sometimes ui-widget font-sizes become inconsistent (eg: title and msg in dialog box). This helps keep it the same everywhere this style is used.*/
    font-size:12px !important;
}
.verdana { font-family: Verdana; }
.arial {font-family: Arial}
.grey { color: grey; }
.gray { color: gray; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.eight { font-size: 8px; }
.nine { font-size: 9px; }
.ten { font-size: 10px; }
.eleven { font-size: 11px; }
.twelve { font-size: 12px; }
.fourteen { font-size: 14px; }
.sixteen {font-size: 16px;}
.eighteen {font-size: 18px;}
.frmLabel, .frmText { 
	font-weight: bold !important;
}
.frmField{
	font-size: 0.9em !important;
}
.hlpText {
	color: #808080;
}
.tblFields td {
	border-bottom: 1px solid #c0c0c0;
	padding:5px;
}

.tblRows td {
	border-bottom: 1px solid #c0c0c0;
	padding:5px;
}

:focus {
	outline: 0;
}

p {
	display: block;
	margin-top: 0px;
	margin-bottom:0px;
	margin-left: 0;
	margin-right: 0;
	min-height: 14px;
}

/*Form Controls */
input[textrole="t"] {  /*input text field*/
	width:200px;
	background-image: url('../../images/icons/fa-edit.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}
input[textrole="n"] { /*input number field*/
	width:200px;
	background-image: url('../../images/icons/fa-slack.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}
input[textrole="a"] { /*input authors field*/
	width:200px;
	background-image: url('../../images/icons/fa-leaf.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}
input[textrole="r"] {  /*input readers field*/
	width:200px;
	background-image: url('../../images/icons/fa-eye.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}
input[textrole="names"] { /*input names field*/
	width:200px;
	background-image: url('../../images/icons/fa-user.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}

input[elem="chbox"] { /*checkbox*/
	width:200px;
	background-image: url('../../images/icons/fa-check-square-o.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}
input[elem="rdbutton"] { /*radio button*/
	width:200px;
	background-image: url('../../images/icons/fa-dot-circle-o.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}
input[elem="select"] { /*select/dropdown*/
	width:200px;
	background-image: url('../../images/icons/fa-toggle-down.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}
input[elem="date"] { /*date*/
	width:80px;
	background-image: url('../../images/icons/fa-calendar.png');
	background-repeat: no-repeat;
	background-position: right 2px top 2px;
}
input[elem="ctext"] { /*ctext*/
	width:100px;
}
div[elem="attachments"] { /*attachments*/
	position: relative;
	height: 100px;
	border: 5px solid lightgray;
	text-align:center;
}
div[elem="embeddedview"] { /*embedded view*/
	position: relative;
	height: 250px;
	border: 5px solid lightgray;
	text-align:center;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 7px;
	min-height:50px;
	margin:8px;
}
div[elem="outline"] { /*outline*/
	position: relative;
	display: inline-block;
	height: 100px;
	border: 5px solid lightgray;
	text-align:center;
}
span[elem="chart"] { /*chart*/
	position: relative;
	display: inline-block;
	border: 5px solid lightgray;
	text-align:center;
}
div[elem="subform"] { /*subform*/
	position: relative;
	height: 100px;
	border: 5px solid lightgray;
	text-align:center;
}
div[elem="relatedemails"] { /*relatedemails*/
	position: relative;
	height: 100px;
	border: 5px solid lightgray;
	text-align:center;
}
div[elem="auditlog"] { /*auditlog*/
	position: relative;
	height: 100px;
	border: 5px solid lightgray;
	text-align:center;
}
#divAttachmentSection button {
	height: 2.0em !important;
}

/*no selection - to prevent selection of text inside attachments/subform/embview containers*/
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#formSections h5 {
	margin-bottom: 0px; /*for accordion sections - removes space gap between header and content*/
}
div.ui-datepicker{  /*controls the size of the datepicker popup*/
	font-size:11px;
}
.ui-icon-group{
	width: 2.4em !important;
	height: 2.4em !important;
	background-image: url("../../images/icons/vwicn004.gif") !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	vertical-align: bottom !important;
}
.ui-icon-single{
	width: 2.4em !important;
	height: 2.4em !important;
	background-image: url("../../images/icons/vwicn003.gif") !important;
	background-repeat: no-repeat !important;
	vertical-align: bottom !important;
}
.ui-icon-colorpicker {
	background-image: url("../../images/colorpicker.gif") !important;
	background-repeat: no-repeat;
}
.btnColorPicker {
	height: 2.4em !important;
	vertical-align: bottom !important;
}
#btn-ColorPicker {
	height: 2.4em !important;
	vertical-align: bottom !important;
}
/*====Admin Views classes=====*/
.viewHeading {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 12px;
	/*font-family: Verdana, Ariel;*/
	font-weight: bold !important;
}
/* ====Designer specific classes==== */
.sepcontainer label { width: 100%; display: block; }
.dsn-droppable{
	border-top:2px dashed gray;
}
.dsn-state-hover {
	border: 5px dashed gray;
}
.bordertop0 {
	border-top: 1px dashed gray !important;
}
.borderright0 {
	border-right: 1px dashed gray !important;
}
.borderbottom0 {
	border-bottom: 1px dashed gray !important;
}
.borderleft0 {
	border-left: 1px dashed gray !important;
}
.dsnMenuItem {
	z-Index: 999;
}
#divDesignerContentSection {
	position: absolute;
	overflow: auto;
	top: 32px;
	left: 5px;
	right: 5px;
	bottom: 10px;
	padding: 5px 5px 20px 5px;
	background-color: #FFFFFF;
	background-image:none;
}
.propLabel{
	font: bold 12px Verdana, Arial, sans-serif;
	color: #000000;
}
.propSubLabel{
	font: normal 10px Verdana, Arial, sans-serif;
	color: #aaaaaa;
}
.propValue{
	font: bold 12px Verdana, Arial, sans-serif;
	color: #000000;
}
.propField{
	width:100%;
	border: solid 1px grey;
	font: 12px Arial, sans-serif;
}
.propLabelCell{
	width:50%;
}
#JSHeaderCode {
	margin: 0;
	position: relative;
	top: 50;
	bottom: 0;
	left: 0;
	right: 0;
}
.elemLabel {
	padding-left: 3px;
	margin-top: -2px;
	display:inline-block;
}
#dsnMenuList lu {
	position: fixed;
	padding:0;
	margin:0;
}
#dsnMenuList li {
	list-style-type: none;
	padding: 2px 0 2px 5px;
	margin-top: 1px;
	border-bottom: 1px #BBB dashed;
	cursor: default; 
	width: 125px;
}
.elementTable {
	width: 100%;
}
/*For Admin and Designer left hand side menus*/
#adminMenu.ui-menu, #designerMenu.ui-menu {
	margin: 5px !important;
}
#adminMenu.ui-menu-item, #designerMenu.ui-menu-item {
	padding-left: 5px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	width: 193px !important;
}
#adminMenu .ui-widget-header, #designerMenu .ui-widget-header {
	font-size: 9pt;
	padding: 5px;
}
#adminMenu li, #designerMenu li{
	font-size: 8pt;
	font-style: normal;
	line-height: 20px;
}
.btnStandard {
	width: 2.6em !important;
	height: 2.2em !important;
}
/*.selector {
	border:1px solid black;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}*/
#selector-topleft {
	border-left:2px solid black;
	border-top: 2px solid black;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}
#selector-topright {
	border-right:2px solid black;
	border-top: 2px solid black;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}
#selector-bottomleft {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}
#selector-bottomright {
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}
#h-selector-topleft {
	border-left:2px solid red;
	border-top: 2px solid red;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}
#h-selector-topright {
	border-right:2px solid red;
	border-top: 2px solid red;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}
#h-selector-bottomleft {
	border-left: 2px solid red;
	border-bottom: 2px solid red;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}
#h-selector-bottomright {
	border-right: 2px solid red;
	border-bottom: 2px solid red;
	width:0.3em;
	height:0.3em;
	position:absolute;
	z-index:10;
}
/*.highlight_top { border-top: 1px solid red; }
.highlight_bottom { border-bottom: 1px solid red; }
.highlight_left { border-left: 1px solid red; }
.highlight_right { border-right: 1px solid red; }
*/
.droparrow {
	position: absolute;
	font-size: 2em !important;
	color: #5C87C6;
	z-index: 10;
}
/*.dropper {
	border: 1px solid black;
	width:2em;
	z-index:10;
}*/
#updateButtons {
	position: absolute;
	z-index:90;
}
.btnApplyCancel {
    padding: 2px 2px 2px 2px;
    background-color: white; 
    color: black; 
    border: 1px solid gray;
}
.btnApplyCancel:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 8px;
    word-wrap: break-word;
    font-size: 1.4em;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    /*background-color: rgb(232,232,232);*/
}
.caption {
    display: block;
    font: 12px verdana, arial;
    width: 200px;
    margin-top: 2px;
    color:gray;
}
.upTable {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    background: white;
   
}
.upTable  thead {
    width: 100%;
    display: block;
}
.upTable  tbody {
    width: 100%;
    display: block;
}
.upTable  tbody td {
   padding-left:8px;
}
.upTable  tr {
    display: inline-table;
    width: 100%;
}
.upTable  TD {
    border-top: 0px !important; 
    border-left:0px !important;
    border-right:0px !important;
    border-bottom: 1px solid #c0c0c0;
    padding-top: 8px;
}
#uploaderMode
{
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid white;
    font-weight:bold;
}
#outer-center { 
	position: absolute; 
	margin: 0px; 
	left: 5px; 
	
	top: 5px; 
	bottom: 5px; 
	height: auto;
	width: 76%; 
	z-index: 0; 
	padding: 12px; 
	border: 1px solid rgb(187, 187, 187); 
	overflow: hidden; 
	display: block;
	 background: rgb(255, 255, 255);
}
.ui-layout-east{
	position: absolute; 
	margin: 0px; 
	left: auto; 
	right: 2px; 
	top: 5px; 
	bottom: 5px; 
	height: auto;
	padding: 10px; 
	border: 1px solid rgb(187, 187, 187); 
	overflow: auto; 
	width: 20%; 
	display: block; 
	background: rgb(255, 255, 255); 
}
#inner-center{
	position: absolute; 
	margin: 0px; 
	left: 10px; 
	right: 10px; 
	top: 10px; 
	height: 62%; 
	width: auto;
	
	border: 1px solid rgb(187, 187, 187); 
	
	display: block; 
	background: rgb(255, 255, 255); 
}
.ui-layout-south{
	position: absolute; 
	margin: 0px; 
	top: auto; 
	bottom: 10px; 
	left: 10px; 
	right: 10px; 
	width: auto; 
	z-index: 0; 
	padding: 10px; 
	border: 1px solid rgb(187, 187, 187); 
	overflow: auto; 
	height: 30%; 
	display: block; 
	visibility: visible; 
	background: rgb(255, 255, 255); 
}
.ui-layout-east{
	width:20%;
	position: absolute;
	right:0px;
	top:5px; 
	bottom:5px;
	border : 1px solid rgb(187, 187, 187);
	overflow:hidden;
}
.ui-resizable-w { 
    cursor: w-resize; 
    width: 12px; 
    bottom: 0; 
    background-color: rgb(221,221,221);
}
.ui-resizable-s { 
    cursor: s-resize; 
    height: 8px; 
    bottom: 0; 
    background-color: rgb(221,221,221);
}
.ui-resizable-ghost {
     opacity:0  !important;
 }
.scroll {
	width: 100%;
	height:97%;
	overflow: auto;
}

/*tool box element container*/
#tool_box {
	background-color:#FEFEFE;
	overflow-x:hidden;
	overflow-y:auto;
	width: 100%;
	height: 100%;
}

#tool_box a { 
	display:block;
	min-width: 150px;
	border: 1px solid #cccccc;
	height: 2.0em;
	padding:4px 2px 0px 5px;
	background-color: #ffffff;
	margin-bottom: -1px;}
#tool_box i { color: #555555; }
#tool_box .elemLabel {font-size: 1.1em; color: #555555; }

.tool_box_header {
	padding: 5px 5px 5px 5px;
	font-weight: normal;
}

/*tool box element UL*/
#tool_box_menu {
	color: #555555;
}

/*tool box elements icons*/
#tool_box_menu i{
	padding-right: 5px;
}
/*tool box elements li*/
#tool_box_menu li{
	min-width:130px;
	float:left;
}

/*ToolBar button styles*/
.ToolBar {
	position: fixed;
	top:32px;
	width:100%;
    background-color:#FFFFFF;
    padding-top:2px;
    padding-bottom:2px;
    border-bottom: 1px solid silver;
}
.btnStandard {
	width: 2.6em !important;
	height: 2.2em !important;
}
.btnDEditor {
	width: 2.4em !important;
	height: 2.4em !important;
	vertical-align: bottom !important;
	background-color: #F0F0F0;
	background-position: center center;
	border: 1px solid #BDBDBD !important;
}
.ui-button:hover {
	border: 1px solid #6E6E6E !important;
}
.ui-button-icon-only {
	height: 2.1em;
}
.edtBold {
	background-image: url("../../images/Bold.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtItalic {
	background-image: url("../../images/Italic.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtUnderline {
	background-image: url("../../images/Underline.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtStrikeThrough {
	background-image: url("../../images/StrikeThrough.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtJustifyLeft {
	background-image: url("../../images/JustifyLeft.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtJustifyCenter {
	background-image: url("../../images/JustifyCenter.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtJustifyRight {
	background-image: url("../../images/JustifyRight.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtCut {
	background-image: url("../../images/Cut.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtCopy {
	background-image: url("../../images/Copy.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtPaste {
	background-image: url("../../images/Paste.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtForeColor {
	background-image: url("../../images/ForeColor.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtBackColor {
	background-image: url("../../images/BackColor.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtInsertUnorderedList {
	background-image: url("../../images/InsertUnorderedList.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtInsertOrderedList {
	background-image: url("../../images/InsertOrderedList.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtIndent {
	background-image: url("../../images/Indent.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtOutdent {
	background-image: url("../../images/Outdent.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtCreateLink {
	background-image: url("../../images/CreateLink.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtUnlink {
	background-image: url("../../images/Unlink.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtUndo {
	background-image: url("../../images/Undo.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtRedo {
	background-image: url("../../images/Redo.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtInsertHorizontalRule {
	background-image: url("../../images/InsertHorizontalRule.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtRemoveFormat {
	background-image: url("../../images/RemoveFormat.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtHelp {
	background-image: url("../../images/Help.gif"), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtPassthru {
	background-image: url(""), linear-gradient(to bottom, #FFF, #D9D9D9);
	background-repeat: no-repeat !important;
}
.edtPassthru:after {
	content: "</>";
}
#PropertiesHeader INPUT[type=text] { width: 300px; }
#PropertiesHeader SELECT.combobox { width: 305px; }

#chart_fields {
	border-collapse: collapse;	
}
#chart_fields td {
	border: 1px solid #c0c0c0;
	padding: 2px;
}
span.chart_drag_item {
	padding: 2px;
	margin: 2px;
	border: 1px solid grey;
}

/* Allow Font Awesome Icons in lieu of jQuery UI and only apply when using a FA icon */
.ui-icon[class*=" fa-"] {
    /* Remove the jQuery UI Icon */
    background: none repeat scroll 0 0 transparent;
    /* Remove the jQuery UI Text Indent */
    text-indent: 0; 
    /* Bump it up - jQuery UI is -8px */
    margin-top: -0.5em;
}

/* Allow use of icon-large to be properly aligned */
.ui-icon.icon-large {
    margin-top: -0.75em;
}

.ui-button-icon-only .ui-icon[class*=" fa-"] {
    /* Bump it - jQuery UI is -8px */
    margin-left: -7px;
}