body
{
	height: 100%;
	max-height: 100%;
	overflow:hidden;
	padding: 0;
	margin: 0;
	border: 0;
/*	background-color: #c0c0c0; */
}

#divContentSection {
	position: absolute;
	overflow: auto;
	top: 32px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	padding: 25px 25px 40px 25px;
	background-color: #FFFFFF;
	background-image:none;
}

#dlgContentSection {
	position: absolute;
	overflow: auto;
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	background-color: #FFFFFF;
	background-image:none;
}

.formsection {
	overflow-x: hidden !important;
	background-color: #FFFFFF;
	background-image:none;	
}

.doctypeSection {
	border: 1px solid gray;
}

.verdana { font-family: Verdana; }
.arial {font-family: Arial}

.grey { font-color: grey; }
.gray { font-color: gray; }

.bold { font-weight: bold; }
.italic { font-style: italic; }

.eight { font-size: 8px; }
.nine { font-size: 9px; }
.ten { font-size: 10px; }
.eleven { font-size: 11px; }
.twelve { font-size: 12px; }
.fourteen { font-size: 14px; }
.sixteen {font-size: 16px;}
.eighteen {font-size: 18px;}

.frmLabel { 
	font-size: 11px;
	font-family: Verdana, Ariel;
	font-weight: bold !important;
}

.frmField{
	font-size: 12px !important;
}
.frmText { 
	font-size: 12px;
}

.hlpText {
	color: #808080;
}

.tblFields td {
	border-bottom: 1px solid #c0c0c0;
	padding: 5px 5px 5px 5px;
}

:focus {
	outline: 0;
}

input {
	width: 300px;
}

input[type="radio"] {
	width: 20px;
}

input[type="checkbox"] {
	width: 20px;
}

#divAttachmentSection button {
	height: 2.0em !important;
}

#formSections h5 {
	margin-bottom: 0px; /*for accordion sections - removes space gap between header and content*/
}

div.ui-datepicker{  /*controls the size of the datepicker popup*/
	font-size:11px;
}

.ui-icon-group{
	width: 2.4em !important;
	height: 2.4em !important;
	background-image: url("../../images/icons/vwicn004.gif") !important;
	background-repeat: no-repeat !important;
	vertical-align: bottom !important;
}

.ui-icon-single{
	width: 2.4em !important;
	height: 2.4em !important;
	background-image: url("../../images/icons/vwicn003.gif") !important;
	background-repeat: no-repeat !important;
	vertical-align: bottom !important;
}
.ui-icon-colorpicker {
	background-image: url("colorpicker.gif") !important;
	background-repeat: no-repeat;
}

.btnColorPicker {
	height: 2.4em !important;
	vertical-align: bottom !important;
}

#btn-ColorPicker {
	height: 2.4em !important;
	vertical-align: bottom !important;
}

.ui-widget { /*sometimes ui-widget font-sizes become inconsistent (eg: title and msg in dialog box). This helps keep it the same everywhere this style is used.*/
    font-size:12px !important;
}

span.ui-dialog-title { /* override dialog title bar color */
  color: grey;
}

/*====Admin Views classes=====*/
.viewHeading {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 12px;
	/*font-family: Verdana, Ariel;*/
	font-weight: bold !important;
}

/* ====Designer specific classes==== */
.dsn-droppable{
	border-top:2px dashed gray;
}

.dsn-state-hover {
	border: 5px dashed gray;
}

.dsnMenuItem {
	z-Index: 999;
}

#divDesignerContentSection {
	position: absolute;
	overflow: auto;
	top: 32px;
	left: 5px;
	right: 5px;
	bottom: 10px;
	padding: 5px 5px 20px 5px;
	background-color: #FFFFFF;
	background-image:none;
}

.propLabel{
	font: bold 12px Verdana, Arial, sans-serif;
	color: #000000;
}

.propSubLabel{
	font: normal 10px Verdana, Arial, sans-serif;
	color: #aaaaaa;
}

.propValue{
	font: bold 12px Verdana, Arial, sans-serif;
	color: #000000;
}

.propField{
	width:100%;
	border: solid 1px grey;
	font: 12px Arial, sans-serif;
}

.propLabelCell{
	width:50%;
}

.propFieldCel2l{
	padding: 5px;
	background-color:#D9D2B6;
	border: solid 1px grey;
	width:430px;
}

#JSHeaderCode {
	margin: 0;
	position: relative;
	top: 50;
	bottom: 0;
	left: 0;
	right: 0;
}

.elemLabel {
	padding-left: 3px;
	margin-top: -2px;
	display:inline-block;
}

#dsnMenuList lu {
	position: fixed;
	padding:0;
	margin:0;
}

#dsnMenuList li {
	list-style-type: none;
	padding: 2px 0 2px 5px;
	margin-top: 1px;
	border-bottom: 1px #BBB dashed;
	cursor: default; 
	width: 125px;
}

.elementTable {
	width: 100%;
}

/*For Admin and Designer left hand side menus*/
#adminMenu.ui-menu, #designerMenu.ui-menu {
	margin: 5px !important;
}

#adminMenu.ui-menu-item, #designerMenu.ui-menu-item {
	padding-left: 5px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	width: 193px !important;
}

#adminMenu .ui-widget-header, #designerMenu .ui-widget-header {
	font-size: 9pt;
	padding: 5px;
}

#adminMenu li, #designerMenu li{
	font-size: 8pt;
	font-style: normal;
	line-height: 20px;
}

.btnStandard {
	width: 2.6em !important;
	height: 2.2em !important;
}

.hoverborder-1 {
	border: 1px dashed black !important;
}
.selectedbg-1 {
	background-color: #D0D0D0 !important;
}

#lblProgress_lblProgressText{
	 font-size:1.4em;
	 font-color:black;
	font-weight:bold;
}

.dlgProgressDetails {
    padding-top: 5px;
   
    padding-bottom: 5px;
    color: grey;
}


.pbar {
     width: 100%;
    text-align: center;
    
     height:1.3em;
     margin: 4px;
}


.progress-label {
    width: 100%;
    font-size:0.9em;
    color: gray;
    float: left;
    
}
