BODY { 
	background-color: #E7E7E7; 
	margin: 0; 
	padding: 0;
	font : normal 11px Verdana,  Arial, sans-serif;
}
#tabs.ui-tabs .ui-tabs-nav li { padding-top:5px; padding-bottom:2px; }
#tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active { padding-bottom: 3px; }
#tabs.ui-tabs .ui-tabs-panel { background: #FEFEFE; }
#property_tabs.ui-tabs .ui-tabs-panel { padding: 0; }
#property_tabs.ui-widget-content { border: 0; }
#savd_subform {
	
	margin-bottom: 1px;
}
#close_subform {
	
	margin-bottom: 1px;
}
#form_element_container {
	float: left;
	min-width:800px;
	height:97%;
	overflow: hidden;
	overflow-x: auto;
	overflow-y: auto;
	padding: 7px;
	border: 2px #BBB dashed;
}
#form_element_container table {
	width:100%;
	background-color:#FCFCFC;
}
#form_element_container td {
	vertical-align: top;
    border-spacing: 2px;
	min-height: 17px;
	min-width: 50px;
	border: 1px #CCC dotted;
}
#tool_box {
	position:absolute;
	right: 10px;
	top: 40px;
	width: 180px;
	background-color: #FEFEFE;
	padding: 2px;
}
#layout { min-height:400px  }
#tool_box {
	background-color: #FEFEFE;
	padding: 2px;
}
#tool_box H3 { margin: 0 0 2px 0; padding: 5px 0 3px 7px; }
#tool_box ul { margin: 0; padding: 0; list-style: none; }
#tool_box ul li { padding: 2px 0 2px 5px; margin-top: 1px; border-bottom: 1px #BBB dashed; cursor: default; }
#tool_box ul li .elemLabel { padding-left: 3px; margin-top: -2px; display:inline-block; }

#static_properties TABLE TD {
	text-align: left;
	padding-left: 5px !important;
}
#static_properties textarea {
	width: 99%;
	display: block;
	margin-top: 1px;
	height: 70px; 
}
#properties_container table, #static_properties table {
	width: 100%;
	padding: 0;
	margin: 0;
}
#properties_container table:not(.nofix) {
	table-layout: fixed;
}
#properties_container table td {
	border-spacing: 2px;
	padding-left: 7px;
	padding-top: 5px;
	white-space: nowrap;
}
#properties_container label {
	font-size: 12px;
}
#properties_container input[type=text], select {
	width: 180px;
}
#static_properties table {
	table-layout: auto;
	width: 500px;
}
#colorPicker {
	float: left;
	cursor: pointer;
}
#add_choption, #add_rdoption, #add_cmboption, .addRow, .removeRow {
	cursor: pointer;
}
#chbox_options, #rdbtn_options, #combo_options {
	width: 98% !important;
}
SELECT[name="addFieldType"] {
	float: left;
	margin-right: 5px;
}
.addRow {
	float: left;
	margin-top: 1px;
}
.htmlcode, .twigcode {
	width: 99%;
	min-height: 19px;
	background-color: #FFF;
	display: block;
	margin: 1px 2px;
	margin-top: 0;
	border: 1px #AAA dashed;
}
.option_container {
	display: block;
	width: 100%;
	max-height: 90px;
	overflow: hidden;
	overflow-y: auto;
}
.sm {
	width: 20px;
	text-align: center;
}
.omit_opt { cursor:pointer; }

.left { text-align: left }
.center { text-align: center }
.right { text-align: right }
.large { width: 30% }
.verdana { font-family: Verdana }
.arial { font-family: Arial }
.sans-serif { font-family: sans-serif }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.sz_9 { font-size: 9px; }
.sz_10 { font-size: 10px; }
.sz_11 { font-size: 11px; }
.sz_12 { font-size: 12px; }
.sz_13 { font-size: 13px; }
.sz_14 { font-size: 14px; }
.sz_15 { font-size: 15px; }
.sz_16 { font-size: 16px; }
.sz_17 { font-size: 17px; }
.sz_18 { font-size: 18px; }
.sz_19 { font-size: 19px; }	

#properties table {
	width: 90%;
	margin: 15px auto;
	padding: 5px 10px 10px 10px;
	border-spacing: 3px;
}
#properties .label {
	width: 175px;
}
#properties input[type=text] {
	width: 210px;
}
#collapseExpand {
	float: right;
	cursor: pointer;
}
#properties H3 {
	margin-bottom: 1px;
	font-size: 13px;
	font-weight: normal;
}
#properties H3 SPAN {
	border: 0 !important;
}
#additional_fields_container {
	border: 1px #CCC solid;
	border-top: 0;
	margin-top: 0 !important;
	width: 100% !important;
}

#javascript label { clear: both; display: block;}
#js_container {
	margin: 5px auto;
	width: 98%;
	height: 95%;
	min-height: 300px;
	display: block;
	overflow: auto;
}
.wtrmark {
	font-size: 11px;
	color: #BBB;
}
.elNote {
	padding-top: 7px;
	padding-bottom: 5px;
	font-size: 11px;
}