<!DOCTYPE html>
<html>
<head>
<title>{% trans %}Applications{% endtrans %}</title>
<META content="0" http-equiv="expires">
<META content="0" http-equiv="cache-control">
<META content="no-cache" http-equiv="Pragma">
<link rel="stylesheet" href="{{ asset('bundles/docova/css/styleDialogBase.css') }}"	type="text/css" />
<script type="text/javascript" language="JavaScript" src="{{ asset('bundles/docova/jquery/jquery.js') }}"></script>
<script language="JavaScript" type="text/javascript">
var dlgDoc = null;
var parentWin = window.top.Docova.GlobalStorage["divDlgPanelProperties"].sourcewindow;
var params = parentWin.dlgParams;
$(document).ready(function(){

	$("#PanelName").val(params[0])
	
});
</script>
<style type="text/css">
table {
	height: 140px;
	width: 100%;
	border: 1px solid #C0C0C0;
	border-collapse: collapse;
}
td {
	border-bottom: 1px solid #C0C0C0;
}
</style>
</head>
<body text="#000000" bgcolor="#FFFFFF">
	<div id="dlgContentNh" class="ui-widget" style="width: 100%;">
		<table class="tblFields" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td colspan="2"><div>{% trans %}Please provide a Panel name{% endtrans %}:</div></td>
			</tr>
			<tr valign="top">
				<td class="frmLabel">{% trans %}Panel Name{% endtrans %}:</td>
				<td class="frmText"><input type="text" name="PanelName" value="" id="PanelName"></td>
			</tr>
		</table>
	</div>
</body>
</html>