<!doctype html>
<html>
<head>
<title>Application</title>
<style type="text/css">
HTML,BODY { height: 100%; }
</style>
</head>
<body text="#000" bgcolor="#C0C0C0" marginheight="4" marginwidth="0" style="overflow:hidden; margin:4px 0;">
	<table style="border:20px solid white;height:100%; width:100%;border-radius:20px;">
		<tr>
			<td style="vertical-align:bottom;text-align:center;">
				<span style="font-size: 20px; font-family: 'verdana';color:white;text-align:center;">{% trans %}Nothing Defined{% endtrans %}</span>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top;text-align:center;">
				<span style="font-size: 14px; font-family: 'verdana'; color:white;">{% trans %}Open this App in the DOCOVA App Builder to edit its design and layout.{% endtrans %}</span>
			</td>
		</tr>
	</table>
</body>
</html>