<!DOCTYPE html>
<HEAD>
<TITLE>Javad Rahimi(developer of DOCOVA SE)</TITLE>
</HEAD>
<HTML>
	<frameset id="fsWorkspace" ROWS="40,*" FRAMEBORDER="0" BORDER="0" FRAMESPACING="0">
		<frame TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" SCROLLING="no" id="fraWorkspaceOptions" name="fraWorkspaceOptions" src="{{ path('docova_wsoptions') }}">
		<frame TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" id="fraWorkspaceApps" name="fraWorkspaceApps" src="{{ path('docova_workspace') }}">
	</frameset>
</HTML>