<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
</head>
	<frameset  COLS="200,*" FRAMESPACING="0" FRAMEBORDER="0" BORDERCOLOR="#6CAFD3">
			<!--  left navigation frame -->
			<frame FRAMEBORDER="0" SCROLLING="no" id="fraLeftFrame" style="border-right:1px #AAA solid;" name="fraLeftFrame" SRC="{{ path('docova_admin_leftNav') }}" />
			<!-- right frame set -->
			<frameset id="fsAdminContentFrameset" rows="*,0" FRAMEBORDER="0" BORDER="0" FRAMESPACING="0" >
				<frame scrolling="no" TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" id="fraAdminContentTop" name="fraAdminContentTop" SRC="{{ path('docova_admin_toptabs') }}?OpenPage" />
				<frame TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0"	id="fraAdminFixedTab" name="fraAdminFixedTab" />
			</frameset>
			
	</frameset>
	
</html>