<!doctype html>
<html>
<head>
<title>{% trans %}Document Type{% endtrans %}</title>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}
<script type="text/javascript" src="{{ asset('bundles/docova/js/admin/wAdminDocTypes.js') }}"></script>
{% if document is defined %}
	{% set path_info = path('docova_admin_editdocument', { 'view_name' : view_name, 'doc_id' : document.getId }) %}
{% else %}
	{% set path_info = path('docova_admin_documentType') %}
{% endif %}

{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : document is defined ? document : '', 
	'view_name' : view_name, 
	'view_title' : view_title, 
	'mode' : mode,
	'path_info' : path_info
} %}

<style type="text/css">
#tabs-docType-container {
	margin-bottom: 22px !important;
}
#appearance_container li, #advance_container li {
	list-style-type:none;
	list-style: none !important;
}
.colorCode {
	display: inline-flex;
	width: 10px;
	height: 16px;
	border: 1px silver solid;
	margin-bottom: -3px;
}
.intgOpt {
	display: block;
	margin-top: 7px;
}
.customHide { padding-top: 7px; }
.ui-icon-group {
	background-image: url('{{ asset('bundles/docova/images/icons/vwicn004.gif') }}') !important;
	background-position: center;
}
.ui-icon-colorpicker {
	background-image: url('{{ asset('bundles/docova/images/colorpicker.gif') }}') !important;
	background-position: center;
}
</style>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
		<li id="saveAndCloseBtn">{% trans %}Save and Close{% endtrans %}</li>
	</ul>
	<form method="post"	action="{{ path_info }}" name="_Library" class="hidetoload" autocomplete="off">
		<h3 class="adjusted headings1">{% trans %}Document Type Settings{% endtrans %}</h3>
		<div id="divFormContainer">
	        <h3>{% trans %}General Settings{% endtrans %}</h3>
	        <div>
	        {% include 'DocovaBundle:Admin:sfAdminDocumentTypesGeneralSettingsTabEdit.html.twig' %}
	        </div>
	        <h3>{% trans %}Content Settings{% endtrans %}</h3>
	        <div>
	        {% include 'DocovaBundle:Admin:sfAdminDocumentTypesContentSettingsTabEdit.html.twig' %}
	        </div>
	        <h3>{% trans %}Workflow/Lifecycle Settings{% endtrans %}</h3>
	        <div>
	        {% include 'DocovaBundle:Admin:sfAdminDocumentTypesWorkflowSettingsTabEdit.html.twig' %}
	        </div>
	        <h3>{% trans %}Appearance{% endtrans %}</h3>
	        <div>
	        {% include 'DocovaBundle:Admin:sfAdminDocumentTypesAppearanceEdit.html.twig' %}
	        </div>
	        <h3>{% trans %}Integration Options{% endtrans %}</h3>
	        <div>
     	    {% include 'DocovaBundle:Admin:sfAdminDocumentTypesIntegrationOptionsEdit.html.twig' %}
	        </div>
	        <h3>{% trans %}Advanced Settings{% endtrans %}</h3>
	        <div>
	        {% include 'DocovaBundle:Admin:sfAdminDocumentTypesAdvancedSettingsTabEdit.html.twig' %}
	        </div>
		</div>
	</form>
</body>
</html>