<!DOCTYPE HTML>
<html>
<head>
<title>{% trans %}Workflow Process Settings{% endtrans %}</title>
<!--  common javascript & CSS header -->
{% include 'DocovaBundle:Admin:sfWebAdminCommonScriptHeader.html.twig'%}

<script language="JavaScript" type="text/javascript">
// validate user profile fields before submitting
function validateDocumentFields()
{
	if ( $("[name='wfTitle']").val() == "" ){
		alert ( "Please enter a workflow title before continuing!")
		return false;
	}

	var wfaction = $("input[name='wfAction']");
	
	if ( wfaction.get(0)){
		if ($("input[name='wfAction']:checked").val() == "" || ! $("input[name='wfAction']:checked").val() ){
			alert ( "Please select a type of workflow step before continuing!")
			return false;
		}
	}
	return true;
}
</script>

{% if form_type is defined %}
	{% include 'DocovaBundle:Admin:WorkflowItemDefinitionEdit.html.twig' %}
{% else %}
	{% include 'DocovaBundle:Admin:WorkflowDefinitionEdit.html.twig' %}
{% endif %}
</html>
