	{% set selected_section = '' %}
	{% set section_properties = '' %}
	{% for subform in document.getDocTypeSubform %}
		{% if subform.getSubform.getFormName == 'Advanced Comments' %}
			{% set selected_section = subform %}
			{% set section_properties = subform.getPropertiesXML(true) %}
		{% endif %}
	{% endfor %}
	{% if section_properties != '' %}
	<table cellspacing="0" class="elmContainer">
		<tr>
			<td class="firstRw">{% trans %}Section Label{% endtrans %}:</td>
            <td class="firstRw">
				{{ section_properties['Interface']['CommentsLabel'] }}
				<span class="elNote">{% trans %}By default the label will be "Comments"{% endtrans %}</span>
            </td>
		</tr>
		<tr>
			<td>{% trans %}Link Comments{% endtrans %}:</td>
			<td>
				{{ section_properties['LinkComments'] == 1 ? 'Link Comments'|trans : '' }}
				<span class="elNote">{% trans %}During workflow all user prompted comments will also be tracked in this section.{% endtrans %}</span>
			</td>
		</tr>
		<tr>
			<td>{% trans %}Notification{% endtrans %}:</td>
            <td>
            	{% trans %}By default, notify{% endtrans %} 
				{{ section_properties['Interface']['NotifyParticipants'] == 1 ? 'participants'|trans : '' }}</label>
				{{ section_properties['Interface']['NotifyAuthor'] == 1 ? ' author'|trans : '' }}</label>
			</td>
		</tr>
		<tr>
			<td class="firstRw"></td>
			<td class="firstRw">
				{% if not section_properties['Interface']['NotificationTrigger'] %}{% trans %}never{% endtrans %}
				{% elseif section_properties['Interface']['NotificationTrigger'] == 1 %}{% trans %}only when commentor chooses{% endtrans %}
				{% elseif section_properties['Interface']['NotificationTrigger'] == 2 %}{% trans %}whenever a comment is entered{% endtrans %}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>{% trans %}Visibility{% endtrans %}:</td>
            <td>
            	{% trans %}Hide Comments section when{% endtrans %}: 
	            {% if section_properties['Interface']['HideOnReading'] == 1 %}{% trans %}Reading{% endtrans %}{% endif %}&nbsp;&nbsp;
	            {% if section_properties['Interface']['HideOnEditing'] == 1 %}{% trans %}Editing{% endtrans %}{% endif %}
			</td>
		</tr>
	</table>	
	{% endif %}