	<table class="elmContainer" cellspacing="0">
		<tr>
			<td class="firstRw">{%trans%}Options{%endtrans%}:</td>
			<td class="firstRw">
				{% if document.getDisableActivities %}{% trans %}Disable Activities{% endtrans %}<br />{% endif %}
        		{% if document.getEnableForDle %}{% trans %}Make available to DOCOVA Explorer{% endtrans %}<br />{% endif %}
        		{% if document.getHideDocsFromDoe %}{% trans %}Hide documents in Docova Explorer{% endtrans %}<br />{% endif %}
        		{% if document.getHideDocsFromMobile %}{% trans %}Hide documents in Mobile{% endtrans %}<br />{% endif %}
				{% if document.getEnableMailAcquire %}{% trans %}Enable acquiring content from user's email{% endtrans %}<br />{% endif %}
				{% if document.getEnableDiscussion %}{% trans %}Allow to create discussion threads{% endtrans %}<br />{% endif %}
				{% if document.getPromptForMetadata %}{% trans %}Prompt for metadata on file drag/drop in DEO{% endtrans %}<br />{% endif %}
				{% if document.getAllowForwarding %}{% trans %}Allow Forwarding{% endtrans %}<br />{% endif %}
			</td>
		</tr>
		{% if document.getAllowForwarding %}
		<tr>
			<td class="firstRw exc">{% trans %}Save Forwards{% endtrans %}:</td>
			<td class="firstRw exc">
				{% if document.getForwardSave == 0 %}{% trans %}Never{% endtrans %}
				{% elseif document.getForwardSave == 1 %}{% trans %}Always{% endtrans %}
				{% elseif document.getForwardSave == 2 %}{% trans %}Prompt{% endtrans %}
				{% endif %} 
			</td>
		</tr>
		{% endif %}
	</table>
