{% include 'DocovaBundle:Admin:sfWebAdminCommonFields.html.twig' with { 
	'document' : workflow, 
	'view_name' : 'wAdminWorkflow', 
	'view_title' : 'Workflow Processes', 
	'path_info' : path('docova_admin_readdocument', { 'view_name' : 'wAdminWorkflow', 'doc_id' : workflow.getId }) ~ '?OpenDocument&ParentUNID=',
	'mode' : '' 
} 
%}
<script type="text/javascript">
$(function() {
	$('#addStepBtn').button({
		icons : {
			primary : 'ui-icon-copy'
		}
	})
	.click(function() {
		ViewCreateDocument('WorkflowDefinitionItem', true, 'New Workflow Step');
	});
});
</script>
</head>
<body scroll="no">
	<ul class="ui-widget-header actionBar hidetoload">
		<a id="editBtn" href="{{ path('docova_admin_editdocument', { 'view_name' : 'wAdminWorkflow', 'doc_id' : workflow.getId }) }}" >{% trans %}Edit{% endtrans %}</a>
		<li id="addStepBtn">{% trans %}Add Workflow Step{% endtrans %}</li>
		<li id="closeBtn">{% trans %}Close{% endtrans %}</li>
	</ul>
	<div id="frmEmulator" class="hidetoload">
		<div id="divFormContainer">
			<h3 class="headings1">{% trans %}Workflow Process Settings{% endtrans %}</h3>
			<table class="elmContainer" cellspacing="0">
				<tr>
					<td class="firstRw">{% trans %}Workflow Name{% endtrans %}:</td>
					<td class="firstRw">{{ workflow.getWorkflowName }}</td>
				</tr>
				<tr>
					<td>{% trans %}Description{% endtrans %}:</td>
					<td>{{ workflow.getDescription }}</td>
				</tr>
				{% if workflow.getAuthorCustomization %}
				<tr>
					<td class="exc"></td>
					<td class="exc">{% trans %}Allow document author to customize this process{% endtrans %}</td>
				</tr>
				{% endif %}
				{% if workflow is defined and workflow.getBypassRleasing %}
				<tr>
					<td class="exc"></td>
					<td class="exc">{% trans %}Allow to release bypassing workflow{% endtrans %}</td>
				</tr>
				{% endif %}
				{% if workflow is defined and workflow.getUseDefaultDoc == true %}
				<tr>
					<td class="exc"></td>
					<td class="exc">{% trans %}Use as default document workflow if none specified{% endtrans %}</td>
				</tr>
				{% endif %}
				<tr>
					<td>{% trans %}Process id{% endtrans %}:</td>
					<td>DK{{ workflow.getId }}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
