#listTitle{
   margin-left:0px;
   font-size:12px;
   margin-top:0px;
}
#headingImg{ 
   margin-top: 0px;
   height:30px;
   display: block;
   margin-left: auto;
   margin-right: auto 
}
#headingLogo{
   height:37px;
}
#homeTitle{
   text-indent:20px; 
}
#docmeta2 
{
     padding-left: 15px; 
}
#mDocHead,  #mDocBody, #mDocCustom, #mDocAttach
{
   padding-left: 0px; 
}
#mDocHead{
    padding-top: 10px; 
}
#mDocHead img{
    margin-left:5px;
}
#mDocHead .ui-li-heading{
    margin-top:-8px;   
    margin-left:25px;   
}
#mDocAttach{
    padding-bottom: 10px; 
}
.searchInput{
    float: left; 
    width:85%;
}
.searchGoBtn{
     float: left; 
     width:15%;    
}
/*OVERRIDE JQUERY CSS - HEADER BACK BTN, V-ALIGN BACK W/SEARCH BAR, REMOVE BORDER ABOVE BACK */
.ui-navbar li .ui-btn{
   text-align:left;
}
.ui-block-a{
    padding-top: 6px;
}

#footer .ui-block-a{
    padding-top: 0px;
}

.ui-btn-inner {
border-top:0px;
}
.ui-page{
-webkit-backface-visibility:hidden;
}