<div id="divRelatedLinkContainer" style="{% if properties['is_read'] == true %}{% if properties['HideOnReading'] == 1 %}display:none{% endif %}{% else %}{% if properties['HideOnEditing'] == 1 %}display:none{% endif %}{% endif %}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td width="50%" valign="bottom">
				<span style="font: 11px Verdana, Arial, sans-serif; float: left; valign: bottom;">{% trans %}Related Links{% endtrans %}:</span>
			</td>
			<td width="50%" valign="bottom">
				{% if properties['can_edit'] == true and properties['document'] %}
				<!--- Button Bar - this div is hidden if link cannot be edited by current user ------------>
				<div id="divButtonBar" style="float: right;">
					<button type="button" id="btnCreateRelLink" class="btnStandard" title="{% trans %}Create Link{% endtrans %}"></button>
					<button type="button" id="btnDeleteRelLink" class="btnStandard" title="{% trans %}Delete Link{% endtrans %}"></button>
				</div>
				{% endif %}
			</td>
		</tr>
	</table>
	<!--- Embedded view perspective----->
	<script id="xmlRelatedLinks" type="text/xml" ><?xml version="1.0" encoding="UTF-8"?><viewperspective>
<type>system</type>
<id>system_default_folder</id>
<Unid />
<name>Built-in perspective</name>
<description />
<createdby />
<createddate />
<modifiedby />
<modifieddate />
<autocollapse>0</autocollapse>
<viewsettings>
	<viewproperties>
		<showSelectionMargin />
		<allowCustomization>1</allowCustomization>
		<extendLastColumn />
		<isSummary />
		<isThumbnails />
		<categoryBorderStyle>border-bottom : solid 2px #aaccff;</categoryBorderStyle>
	</viewproperties>
	<columns>
		<column>
			<title>{% trans %}Description{% endtrans %}</title>
			<xmlNodeName>title</xmlNodeName>
			<sortOrder>ascending</sortOrder>
			<width>250</width>
		</column>
		<column>
			<title>{% trans %}Link{% endtrans %}</title>
			<xmlNodeName>description</xmlNodeName>
			<width>300</width>
		</column>
		<column>
			<title>{% trans %}Author{% endtrans %}</title>
			<xmlNodeName>author</xmlNodeName>
			<width>150</width>
		</column>
		<column>
			<title>{% trans %}Date Created{% endtrans %}</title>
			<xmlNodeName>datecreated</xmlNodeName>
			<dataType>date</dataType>
			<width>100</width>
		</column>
	</columns>
</viewsettings></viewperspective>
</script>
	<!--- BEGIN Embedded view event capture---->
	<div id="divRelatedLinksCapture">
		<!--- BEGIN Embedded view contents---->
		<div id="divRelatedLinks" style="display: none; background-color: white; width: 100%; height: 17px; padding: 0px; margin: 0px; overflow: auto; overflow-x: hidden;"></div>
		<!--- END Embedded view contents----->
	</div>
	<!--- END Embedded view event capture---->
	<!--- Empty Embedded view message----->
	<div id="nodivRelatedLinks" style="display: none;font: 11px verdana;padding:5px; border: 1px solid silver; background-color:white;">
		{% trans %}No related links.{% endtrans %}
	</div>
</div>
<script language="javascript">
prmptMessages.msgRL001 = "{% trans %}Error processing pasted data{% endtrans %}";
prmptMessages.msgRL002 = "{% trans %}The information provided cannot be resolved as a Notes doclink or Web URL{% endtrans %}";

InitRelLinks();
</script>