<div class="stdSection" style="">
	<span class="frmLabel" style="margin: 4px 0px 4px 0px; font: normal 11px Verdana, Arial, sans-serif;">
	{{ properties['EditorLabel']|trans }}:
	</span>
	<div id="divRTContent" style="font: normal 11px Verdana, Arial, sans-serif; width: 100%;">
	{{ data['editor_body']['Value']|nl2br }}
	</div>
</div>