<input name="subforms[]" type="hidden" value="{{ data['AllowPrint']['Field'].getSubform.getId }}" >
<script type="text/javascript">
prmptMessages.msgW2PDF001 = "{% trans %}PDF Creator not installed{% endtrans %}";
prmptMessages.msgW2PDF002 = "{% trans %}PDF Conversion Failed{% endtrans %}!!";
prmptMessages.msgW2PDF003 = "{% trans %}An error has occurred in the copyFileToTempLocation function.{% endtrans %}";
prmptMessages.msgW2PDF004 = "{% trans %}Converting to PDF{% endtrans %}...";
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="fieldLabelCell" width="22%">{% trans %}Allow Printing{% endtrans %}</td>
		<td class="fieldCell" width="78%">
			<span>{{ if data['AllowPrint']['Value'] == 0 ? 'Yes'|trans : 'No'|trans }}</span>
		</td>
	</tr>
</table>
