<!-------------------- Audit Log -------------------------------------------->
<div id="auditlog" style="border: 1px solid #C0C0C0;padding: 0px;">
{% if collapsible == '1' %}
<div id="auditlogheader" class="ui-widget-header dWidgetHeader" style="height:25px;display:table-cell;width:9999px;vertical-align:middle;cursor:pointer;" onclick="toggleAuditLog()">
	<i id="auditlogheadericon" class="fas fa-caret-right" style="padding-left:10px;"></i>
	<span style="position:absolute;left:35px">Audit Log</span>
</div>

{% endif %}

<!-------------------- Audit Log entries ------------------------------------->
<div id="divAuditLog" style="display:{{ collapsible == '1' ? 'none' : 'block'}}">
<table  style=" background-color:#fffff;" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
     <td class="fieldCell" width="100"><b>Date</b></td>
     <td class="fieldCell" width="100"><b>Time</b></td>
     <td class="fieldCell" width="200"><b>Who</b></td>
     <td class="fieldCell"><b>Details</b></td>
</tr>
</table>
<div style="width: 100%; height: {{ height }}; overflow: auto;">
    <table id="tblAuditLogData" datasrc="#AuditLogData" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
         <td class="fieldCell" width="100"><span datafld="logdate"></span>&nbsp;</td>
         <td class="fieldCell" width="100"><span datafld="logtime"></span>&nbsp;</td>
         <td class="fieldCell" width="200"><span datafld="logauthor"></span>&nbsp;</td>
         <td class="fieldCell"><span datafld="logdetails"></span>&nbsp;</td>
    </tr>
    </table>
</div>
</div>
<script>
	var AuditLogData= new xmlDataIsland();
	
	AuditLogData.setSrc ( "{% if object %}{{ path('docova_documentlogs', {'document': object.getId, 'filter' : filter} )}}{% endif %}", true ) ;
	AuditLogData.id = "AuditLogData";
	AuditLogData.setTemplateName( "tblAuditLogData");
	AuditLogData.ondatasetcomplete = function() { ""; }
	AuditLogData.process();

	function toggleAuditLog(){
		var togglestate = $("#divAuditLog").css("display");
		if(togglestate == "none"){
			$("#auditlogheadericon").removeClass("fa-caret-right").addClass("fa-caret-down")
			$("#divAuditLog").toggle("fold", "", 500);
		}else{
			$("#auditlogheadericon").removeClass("fa-caret-down").addClass("fa-caret-right")
			$("#divAuditLog").toggle("fold", "", 500);
		}
	}
</script>
</div>