<script  type="text/javascript" >
prmptMessages.msgRD001 = "{% trans %}Error: No attachments section found or attachment section not initialized properly.{% endtrans %}";
prmptMessages.msgRD002 = "{% trans %}The file %%filename%% is a newly added file. Please save this document before making any edits or revisions to it.{% endtrans %}";
prmptMessages.msgRD003 = "{% trans %}A copy of the file %%filename%% has already been downloaded and cannot be updated. Please close the file if it is open already for editing/viewing.{% endtrans %}";
prmptMessages.msgRD004 = "{% trans %}Unable to locate file '%%filename%%'{% endtrans %}";
prmptMessages.msgRD005 = "{% trans %}The file %%filename%% could not be deleted. Please check that the file is not currently open or locked by some other process.{% endtrans %}";
prmptMessages.msgRD006 = "{% trans %}Unable to create folder{% endtrans %}";
prmptMessages.msgRD007 = "{% trans %}Unable to delete folder{% endtrans %}";
prmptMessages.msgRD008 = "{% trans %}Unable to access shell object.{% endtrans %}";
prmptMessages.msgRD009 = "{% trans %}No working folder is currently in use. Please edit a document first.{% endtrans %}";
prmptMessages.msgRD010 = "{% trans %}A copy of the file %%filename%% has already been downloaded and cannot be updated. Please check that the file is not already opened for editing/viewing.{% endtrans %}";
prmptMessages.msgRD011 = "{% trans %}The selected related document has been Deleted.{% endtrans %}";
prmptMessages.msgRD012 = "{% trans %}Document Deleted{% endtrans %}";
prmptMessages.msgRD013 = "{% trans %}You are not authorized to open this document, or the document could not be found{% endtrans %}";
prmptMessages.msgRD014 = "{% trans %}Document Cannot Be Opened{% endtrans %}";
prmptMessages.msgRD015 = "{% trans %}The temporary working folder could not be deleted. Please check that all related documents have been closed and select Retry.{% endtrans %}";
prmptMessages.msgRD016 = "{% trans %}Working Folder Busy{% endtrans %}";
prmptMessages.msgAUP002 = "{% trans %}Processing request. Please wait{% endtrans %}...";

{% if properties['EnableLinkedFiles'] == 1 %}
<!--- Linked Files ---------->
var myVar = setInterval(OverrideUploader,500);
{% endif %}
</script>
<div id="divRelatedDocContainer" style="{% if properties['is_read'] == true %}{% if properties['HideOnReading'] == 1 %}display:none{% endif %}{% else %}{% if properties['HideOnEditing'] == 1 %}display:none{% endif %}{% endif %}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td width="50%" valign="bottom">
				<span style=" font-weight: bold;">{% trans %}Related Documents{% endtrans %}:</span>
			</td>
			<td width="50%" valign="bottom">
				{% if properties['can_edit'] == true %}
				<!--- Button Bar - this div is hidden if document cannot be edited by current user ------------>
				<div class="divButtonBar"">
					<button type="button" id="btnCreateRelDoc" class="btnStandard"  title="{% trans %}Add related document(s){% endtrans %}"></button>
					<button type="button" id="btnDeleteRelDoc" class="btnStandard"  title="{% trans %}Remove related document(s){% endtrans %}"></button>
				</div>
				{% endif %}
			</td>
		</tr>
	</table>
	<!--- Embedded view perspective----->
	<script id="xmlRelatedDocs" type="text/xml" ><?xml version="1.0" encoding="UTF-8"?><viewperspective><type>system</type><id>system_default_folder</id><Unid/><name>Built-in perspective</name><description/><createdby/><createddate/><modifiedby/><modifieddate/><autocollapse>0</autocollapse><viewsettings><viewproperties><showSelectionMargin/><allowCustomization>1</allowCustomization><extendLastColumn/><isSummary/><isThumbnails/><categoryBorderStyle>border-bottom : solid 2px #aaccff;</categoryBorderStyle></viewproperties><columns><column><title>{%trans %}Title{% endtrans %}</title><xmlNodeName>title</xmlNodeName><sortOrder>ascending</sortOrder><width>150</width></column><column><title>{% trans %}Library{% endtrans %}</title><xmlNodeName>libraryname</xmlNodeName><sortOrder>ascending</sortOrder><width>90</width></column><column><title>{% trans %}Folder{% endtrans %}</title><xmlNodeName>foldername</xmlNodeName><sortOrder>ascending</sortOrder><width>90</width></column><column><title>{% trans %}Author{% endtrans %}</title><xmlNodeName>author</xmlNodeName><sortOrder>ascending</sortOrder><width>120</width></column><column><title>{% trans %}Date Created{% endtrans %}</title><xmlNodeName>datecreated</xmlNodeName><dataType>date</dataType><sortOrder>ascending</sortOrder><width>100</width></column><column><title>{% trans %}Version{% endtrans %}</title><xmlNodeName>version</xmlNodeName><sortOrder>none</sortOrder><width>80</width></column><column><title>{% trans %}Status{% endtrans %}</title><xmlNodeName>status</xmlNodeName><sortOrder>none</sortOrder><width>80</width></column></columns></viewsettings></viewperspective></script>
	<!--- BEGIN Embedded view event capture---->
	<div id="divRelatedDocsCapture">
		<!--- BEGIN Embedded view contents---->
		<div id="divRelatedDocs"></div>
		<!--- END Embedded view contents----->
	<!--- END Embedded view event capture---->
	</div>
	<!--- Empty Embedded view message----->
	<div id="nodivRelatedDocs" style="display: none;font: 11px verdana;padding:5px; border: 1px solid silver; background-color:white;">
	{% trans %}No related documents yet{% endtrans %}...
	</div>
</div>
<script language="javascript">InitRelDocs();</script>