<div id="divMailContainer" style="">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td width="50%" valign="bottom">
				<span style=" font-weight: bold;">{% trans %}Related Correspondence{% endtrans %}:</span>
			</td>
			<td width="50%" valign="bottom">
				{% if (mode != 'new') %}
				<!--- Button Bar - this div is hidden idf document cannot be edited by current user ------------>
				<div class="divButtonBar">
					<button id="btnAcquireMessages" class="btnStandard"></button>
					<button id="btnDeleteMessages" class="btnStandard"></button>
				</div>
				{% endif %}
			</td>
		</tr>
	</table>
	<!--- Embedded view perspective----->
	<script id="xmlRelatedEmails" type="text/xml"><?xml version="1.0" encoding="UTF-8"?><viewperspective><type>system</type><id>system_default_folder</id><Unid/><name>Built-in perspective</name><description/><createdby/><createddate/><modifiedby/><modifieddate/><autocollapse>0</autocollapse><viewsettings><viewproperties><showSelectionMargin/><allowCustomization>1</allowCustomization><extendLastColumn/><isSummary/><isThumbnails/><categoryBorderStyle>border-bottom : solid 2px #aaccff;</categoryBorderStyle></viewproperties><columns><column><title>Who</title><xmlNodeName>from</xmlNodeName><sortOrder></sortOrder><width>150</width></column><column><title>Date</title><xmlNodeName>createddate</xmlNodeName><dataType>date</dataType><sortOrder>ascending</sortOrder><width>80</width></column><column><title>Subject</title><xmlNodeName>subject</xmlNodeName><sortOrder>ascending</sortOrder><width>450</width></column></columns></viewsettings></viewperspective></script>
	<!--- BEGIN Embedded view event capture---->
	<div id="divRelatedEmailsCapture">
		<!--- BEGIN Embedded view contents---->
		<div id="divRelatedEmails"></div>
		<!--- END Embedded view contents----->
	</div>
	<!--- END Embedded view event capture---->

	<!--- Empty Embedded view message----->
	<div id="nodivRelatedEmails"style="display: none;font: 11px verdana;padding:5px; border: 1px solid silver; background-color:white;">
		{% trans %}No related emails.{% endtrans %}
	</div>
</div>
<script language="javascript">InitRelEmails();</script>