<input name="subforms[]" type="hidden" value="{{ data['editor_body']['Field'].getSubform.getId }}" />
<div  class="ui-body  ui-body-b ui-corner-all">
	<span style="margin: 4px 0px 4px 0px; font : normal 11px Verdana,  Arial, sans-serif;">{{ properties['EditorLabel']|trans }}</span></br>
	<div id="divRTContent" style="font : normal 11px Verdana,  Arial, sans-serif; width: 100%; height:100%">
		<TEXTAREA cols=50 rows=7 name={{ data['editor_body']['Field'].getFieldName }} {% if properties['EditorReadOnly'] == 1 %}Readonly="ReadOnly"{% endif %}>{{ data['editor_body']['Value'] }}</TEXTAREA>
	</div>
</div>