<input type="hidden" name="subforms[]" value="{{ data['body']['Field'].getSubform.getId }}" />
<style type="text/css">
pre {
	word-wrap: break-word;
}
</style>
<div id="divRTContent" class="stdSection" style="{% if properties['HideOnEditing'] == true %}display:none{% endif %}">
	<span style="margin: 4px 0px 4px 0px; font : normal 11px Verdana,  Arial, sans-serif;">{{ properties['EditorLabel']|trans }}</span>
	<div name="Body" id="dEdit3" processMceEditor="1" class="editArea" contentEditable="true"></div>
	<br><span style="display:none"><textarea id="Body" name="{{ data['body']['Field'].getFieldName }}" rows="7" cols="50">{{ data['body']['Value']|raw }}</textarea></span>
</div>
<!-- JS Function to hide Domino attachments -->
<script type="text/javascript">
fixRelativeImagePaths();
initEditor();
HideAttachmentTables();
ExpandHTMLIframes();
convertRTtoHTML("Body", "Body");
</script>
