<input type=hidden id="tmpMode" name="tmpMode" value=""/>

<div style="display:none"><input id="fileAttach" type="file" name="Uploader_DLI_Tools[]"></div>

<div id="UPLOADER_TEMPLATE" style="display:none;">
<div id="printAttach_TEMPLATE_" style = "display:none;" ></div>
<div id="divAttachmentSection_TEMPLATE_" style="border-bottom:1px solid gray; padding-top:10px">
    <div align=right id="divUploaderButtons-_TEMPLATE_" style="display:; right: 20px; top: 5px; font:11px Verdana, Arial; z-index:1;">
        <span align=left style="padding-right: 20px" id="uploaderMode" >Mode : <span id="upmode" style="font-weight:normal">Basic</span></span>
        <button id="btn-_TEMPLATE_-scan" style="display:{{mode == 'edit' ? "" : "none"}};"></button>
        <button id="btn-_TEMPLATE_-attach-std" style="display:{{mode == 'edit' ? "" : "none"}};"></button>
        <button id="btn-_TEMPLATE_-liststd" menu="listmenu_TEMPLATE_"></button>
    </div>
    <div class="ui-widget ui-widget-content itemcontainer" id="attachDisplay_TEMPLATE_"></div>
</div>
<ul id="listmenu_TEMPLATE_" style="display:none;width:100px;position:absolute;z-index:100;">
  <li id="menu-_TEMPLATE_-I">Icons</li>
  <li id="menu-_TEMPLATE_-R">Details</li>
</ul>
</div>

<script language="javascript" type="text/javascript">
    initUploaders(DLIUploaderConfigs);
</script>