<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="fieldLabelCell" width="22%">{% trans %}Company Name{% endtrans %}:</td>
		<td class="fieldCell" width="78%">{{ data['CompanyName']['Value'] }}&nbsp;</td>
	</tr>
	<tr valign="top">
		<td class="fieldLabelCell" width="22%">{% trans %}Contract Type{% endtrans %}:</td>
		<td class="fieldCell" width="78%">{{ data['ContractType']['Value'] }}</td>
	</tr>
	<tr valign="top">
		<td class="fieldLabelCell" width="22%">{% trans %}Renewal/Expiration Date{% endtrans %}:</td>
		<td class="fieldCell" width="78%">{{ data['ExpiryDate']['Value'] }}</td>
	</tr>
	<tr valign="top">
		<td class="fieldLabelCell" width="22%">{% trans %}Action{% endtrans %}:</td>
		<td class="fieldCell" width="78%"><br/><br>{{ data['ContractNotify']['Value'] }}&nbsp;</td>
	</tr>
</table>
