<script type="text/javascript" src="{{ asset('bundles/docova/js/custom/' ~ widget.getSubformName ~ '.js') }}"></script>
<div class="portlet-header">
	<span class="arial twelve bold">{{ widget.getWidgetName }}</span>
	<button id="rvwRefresh" class="btn-Refresh"></button>
	<button class="btn-RemoveWidget"></button>
	<button class="btn-AddWidget"></button>
</div>
<div class="portlet-content">
	<!--- Embedded view perspective----->
	<script id="xmlReviewItem" type="text/xml" encoding="UTF-8"><viewperspective><type>system</type><id>system_default_folder</id><Unid/><name>Built-in perspective</name><description/><createdby/><createddate/><modifiedby/><modifieddate/><autocollapse>0</autocollapse><viewsettings><viewproperties><showSelectionMargin/><allowCustomization>1</allowCustomization><extendLastColumn>1</extendLastColumn><isSummary/><isThumbnails/><categoryBorderStyle>border-bottom : solid 2px #aaccff;</categoryBorderStyle></viewproperties><columns><column><title>{% trans %}Type{% endtrans %}</title><xmlNodeName>wfaction</xmlNodeName><sortOrder></sortOrder><width>80</width></column><column><dataType>html</dataType><width>10</width><fontFamily>webdings</fontFamily><title></title><xmlNodeName>typeicon</xmlNodeName><hasCustomSort></hasCustomSort><customSortOrder>none</customSortOrder></column><column><title>{% trans %}Due By{% endtrans %}</title><xmlNodeName>wfduedate</xmlNodeName><sortOrder>ascending</sortOrder><width>80</width></column><column><title>{% trans %}Title{% endtrans %}</title><xmlNodeName>subject</xmlNodeName><sortOrder>ascending</sortOrder></column><width>100</width></columns></viewsettings></viewperspective></script>

	<!--- BEGIN Embedded view event capture---->
	<div id="divReviewItemCapture" class="capturediv">
		<!--- BEGIN Embedded view contents---->
		<div id="divReviewItem" style="display:none; background-color:white;width:100%; padding: 0px; margin: 0px;overflow: auto; overflow-x: hidden;" ></div>
		<!--- END Embedded view contents----->
	<!--- END Embedded view event capture---->
	</div>

	<!--- Empty Embedded view message----->
	<div id="nodivReviewItem" style="display: none ; padding:5px; ">{% trans %}No pending review items found.{% endtrans %}</div>
</div>

<script language="javascript">Initreviewitem();</script>
<script>
	$( "#rvwRefresh" )
		.button({
			text:false,
			label: "{% trans %}Refresh{% endtrans %}",
			icons: {primary:  "ui-icon-refresh"}
		})
		.click(function( event ) {
			ReviewItemsView.objEmbView.Refresh(true,false,true); 
			ReviewItemsView.objEmbView.ResetHighlight();
			ReviewItemsView.EmbViewReload();
	});
</script>