<script type="text/javascript" src="{{ asset('bundles/docova/js/custom/' ~ widget.getSubformName ~ '.js') }}"></script>

<div class="portlet-header">
	<span class="arial twelve bold">{{ widget.getWidgetName }}</span>
	<button id="chkRefresh" class="btn-Refresh"></button>
	<button class="btn-RemoveWidget"></button>
	<button class="btn-AddWidget"></button>
</div>

<!--- Embedded view perspective----->
<script id="xmlCheckedOut" type="text/xml" encoding="UTF-8"><viewperspective><type>system</type><id>system_default_folder</id><Unid/><name>Built-in perspective</name><description/><createdby/><createddate/><modifiedby/><modifieddate/><autocollapse>0</autocollapse><viewsettings><viewproperties><showSelectionMargin/><allowCustomization>1</allowCustomization><extendLastColumn>1</extendLastColumn><isSummary/><isThumbnails/><categoryBorderStyle>border-bottom : solid 2px #aaccff;</categoryBorderStyle></viewproperties><columns><column><title>{% trans %}File{% endtrans %}</title><xmlNodeName>filename</xmlNodeName><sortOrder>ascending</sortOrder><width>100</width></column><column><title>{% trans %}Document{% endtrans %}</title><xmlNodeName>Subject</xmlNodeName><width>100</width></column></columns></viewsettings></viewperspective></script>

<!--- BEGIN Embedded view event capture---->
<div id="divCheckedOutCapture" class="capturediv">

	<!--- BEGIN Embedded view contents---->
	<div id="divCheckedOut" style="display: none; background-color: white; width: 100%; padding: 0px; margin: 0px; overflow: auto; overflow-x: hidden;"></div>
	<!--- END Embedded view contents----->

<!--- END Embedded view event capture---->
</div>

<!--- Empty Embedded view message----->
<div id="nodivCheckedOut" style="display: none; padding:5px;">{% trans %}Currently, you have no checked out items.{% endtrans %}</div>

<script language="javascript">InitCheckedOut();</script>
<script>
	$( "#chkRefresh" )
		.button({
			text:false,
			label: "{% trans %}Refresh{% endtrans %}",
			icons: {primary:  "ui-icon-refresh"}
		})
		.click(function( event ) {
			checkedOutView.objEmbView.Refresh(true,false,true); 
			checkedOutView.objEmbView.ResetHighlight();
			checkedOutView.EmbViewReload();
	});
</script>