<legend class="SubheadingTitle">{% trans %}My drafts awaiting workflow start{% endtrans %}&nbsp;</legend>
<div style="width: expression(( document.all.tblGridTable.clientWidth/ 2) -18); height: expression(( document.all.tblGridTable.clientHeight/ 2) -40); border: 1px solid #efefef; margin-top: 5px; overflow: auto;">
	<xml id="MyToStartItems" src="{{ path('docova_xViewData') }}?ReadForm&view=xmlWorkflowItemsToStart.xml&lkey={{ user.getUserNameDnAbbreviated|url_encode }}" ondatasetcomplete="SetDataDisplay(this);"></xml>
	<!---------------MyToStartItems--------------------------->
	<span id="NoMyToStartItemsMsg" style="font: 12px verdana, arial; display: none">{% trans %}No outstanding documents waiting for you to start their workflow.{% endtrans %}</span>
	<!---------------------- Data table ------------------------------>
	<div id="divMyToStartItems" style="display: none; width: 100%;">
		<table id="tblMyToStartItems" datasrc="#MyToStartItems" style="width: 100%; table-layout: fixed;">
			<tr onMouseOver="SetRowColor(this, true)" onMouseOut="SetRowColor(this, false)" onclick="OpenDocument(MyToStartItems.recordset, this.recordNumber);">
				<td width="20px;" valign="middle" class="ListItem">
					<span style="font: normal 15px Webdings; color: #ff9900" datafld="typeicon" dataformatas="html"></span>
				</td>
				<td class="ListItem">
					<span datafld="Title" style="color: #000000;"></span><br />{% trans %}In library{% endtrans %}: 
					<span datafld="LibraryName" style="color: #000000;"></span>&nbsp;{% trans %}Modified{% endtrans %}:
					<span datafld="LastModifiedDate" style="color: #000000;"></span>
				</td>
			</tr>
		</table>
	</div>
</div>
