<script type="text/javascript" src="{{ asset('bundles/docova/js/custom/' ~ widget.getSubformName ~ '.js') }}"></script>
<div class="portlet-header">
	<span class="arial twelve bold">{{ widget.getWidgetName }}</span>
	<button id="actvRefresh" class="btn-Refresh"></button>
	<button class="btn-RemoveWidget"></button>
	<button class="btn-AddWidget"></button>
</div>

<!--- Embedded view perspective----->
<script id="xmlactivity" type="text/xml" encoding="UTF-8"><viewperspective><type>system</type><id>system_default_folder</id><Unid/><name>Built-in perspective</name><description/><createdby/><createddate/><modifiedby/><modifieddate/><autocollapse>0</autocollapse><viewsettings><viewproperties><showSelectionMargin/><allowCustomization>1</allowCustomization><extendLastColumn>1</extendLastColumn><isSummary/><isThumbnails/><categoryBorderStyle>border-bottom : solid 2px #aaccff;</categoryBorderStyle></viewproperties><columns><column><title>{% trans %}Status{% endtrans %}</title><xmlNodeName>ActivityStatus</xmlNodeName><width>70</width></column><column><title>{% trans %}Created By{% endtrans %}</title><xmlNodeName>CreatedBy</xmlNodeName><width>50</width></column><column><title>{% trans %}Status Date{% endtrans %}</title><xmlNodeName>StatusDate</xmlNodeName><sortOrder>ascending</sortOrder><width>50</width></column></columns></viewsettings></viewperspective></script>

<!--- BEGIN Embedded view event capture---->
<div id="divactivityCapture" class="capturediv">

	<!--- BEGIN Embedded view contents---->
	<div id="divactivity" style="display:none; background-color:white;width:100%; padding: 0px; margin: 0px;overflow: auto; overflow-x: hidden;" ></div>
	<!--- END Embedded view contents----->

<!--- END Embedded view event capture---->
</div>

<!--- Empty Embedded view message----->
<div id="nodivactivity" style="display: none ; padding:5px; ">
{% trans %}You currently have no pending Activities to display.{% endtrans %}
</div>

<script language="javascript">Initactivity();</script>
<script>
	$( "#actvRefresh" )
		.button({
			text:false,
			label: "{% trans %}Refresh{% endtrans %}",
			icons: {primary:  "ui-icon-refresh"}
		})
		.click(function( event ) {
			activitiesView.objEmbView.Refresh(true,false,true); 
			activitiesView.objEmbView.ResetHighlight();
			activitiesView.EmbViewReload();
	});
</script>