<table>
	<tr>
		<td style="width: 100px;">{% trans %}List{% endtrans %}:</td>
		<td>
			<select name="WidgetList" id="WidgetList" style="width: 300px;" onchange="Docova.GlobalStorage['divDlgSelectWidget'].sourcewindow.GetWidgetDescription(this)">
				<option value="">-{% trans %}Select{% endtrans %}-</option>
				<optgroup label="DOCOVA Widgets"></optgroup>
			{% for item in widgets %}
				{% if not item.getIsCustom %}
				<option value="{{ item.getId }}">{{ item.getWidgetName }}</option>
				{% endif %}
			{% endfor %}
				<optgroup label="Custom Widgets"></optgroup>
			{% for item in widgets %}
				{% if item.getIsCustom %}
				<option value="{{ item.getId }}">{{ item.getWidgetName }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td>{% trans %}Description{% endtrans %}:</td>
		<td>
			<textarea id="WidgetDescription" name="" class="txFld" style="width: 300px; height: 100px;">{% trans %}Please select a new widget. A description of your selection will appear here.{% endtrans %}</textarea>
		</td>
	</tr>
</table>