	<div class="portlet-header">
		<span class="arial twelve bold">{% trans %}Empty Widget{% endtrans %}</span>
		<button class="btn-AddWidget"></button>
	</div>
	<div class="portlet-content">
		<table style="height: 95%; width: 100%; table-layout: fixed;">
			<tr>
				<td align="center"> 
					<span style="border: 2px solid #ffffff;">{% trans %}Click the + button above to add a widget.{% endtrans %}</span>
				</td>
			</tr>
		</table>
	</div>