<style type="text/css">

body{
	font-size: 1.3em;
}

.dlgProgress_lblProgressText {
    padding-bottom: 5px;
   
}

#lblProgress_lblProgressText{
	 font-size:1.4em;
	 font-color:black;
	font-weight:bold;
}

.dlgProgressDetails {
    padding-top: 5px;
   
    padding-bottom: 5px;
    color: grey;
}

.progTotal {
    padding-right: 8px;
}

.progSent {
    padding-right: 8px;
}

#divContentProgress{
	background:white;
	height:100px;
	padding:6px;
	
}

.ui-widget { /*sometimes ui-widget font-sizes become inconsistent (eg: title and msg in dialog box). This helps keep it the same everywhere this style is used.*/
    font-size:12px !important;
}

#progressbar {
     width: 100%;
    text-align: center;
    
     height:1.3em
}


.progress-label {
    width: 100%;
    font-weight: bold;
    float: left;
    
}

#dialogProgress{ min-height:100px };
</style>
<div id="divContentProgress" class="ui-widget" >
	<div id='dlgProgress' title='Progress' >
		<div class='dlgProgress_lblProgressText'>
			<label id='lblProgress_lblProgressText'>{% trans %}Sending Data{% endtrans %}</label>
			<div class='dlgProgressDetails'>{% trans %}Total{% endtrans %}: 
				<span class='progTotal'>0 MB</span> {% trans %}Sent{% endtrans %}: 
				<span class='progSent'>0 MB</span> {% trans %}Bitrate{% endtrans %}: 
				<span class='progBitrate'>0</span>
			</div>
		</div>
		<div id='progressbar'>
			<div class='progress-label'>{% trans %}Saving Document{% endtrans %}</div>
		</div>
	</div>			
</div>