document.write('<object id="{{ upid }}" style="width: {{ width }}; height:{{ height }};" ');
document.write('CLASSID="CLSID:F6D2CA20-9CDE-42D9-B29E-B37E0088BB60" >');
document.write('<param name="SettingsXML" value="{{ settings }}">');
document.write('<div style="font: 12px Arial; color: red; border: 2 solid red; padding: 5; width: 95%;"> ');
document.write('DLI.Uploader ActiveX control is not loaded. Application will not run.<br><br> ');
document.write('Please make sure that the DLI.Uploader cabinet file is accessible for download  ');
document.write('from the web server at [Missing codebase parameter - please contact the system administrator] and that your browser security  ');
document.write('settings allow download and installation of ActiveX controls.</div><br><br> ');
document.write('</object>');