<!DOCTYPE html>
<html>
<head>
<style type="text/css">
HTML, BODY {
	overflow: hidden;
	height: 100%;
	padding: 0;
	margin: 0;
}
BODY {
	font-size: 13px;
	font-family: Verdana, Arial;
	background: transparent linear-gradient(#46A7DB, #E5F6FC) no-repeat;
}
IMG { display: block; margin: 14px; }
H3 { padding-left: 19px; }
P { padding-left: 19px; }
A {
	width: 110px;
	color: #FFF;
	height: 24px;
	float: right;
	font-size: 11px;
	margin-top: 7em;
	padding-top: 8px;
	font-weight: bold;
	border-radius: 4px;
	margin-right: 12px;
	text-align: center;
	text-decoration: none;
	background: linear-gradient(#bddcfa, #528fcc);
}
A:HOVER {
	background: linear-gradient(#528fcc, #bddcfa);
}
#msg_container {
	padding: 7px;
	width: 480px;
	height: 350px;
	display: block;
	background: #FFF;
	margin: 15em auto;
	border: 1px #AAA solid;
}
</style>
</head>
<body>
	<div id="msg_container">
		<img alt="DOCOVA" src="{{ asset('bundles/docova/images/DOCOVA-Logo.png') }}">
		<h3>You signed out of your DOCOVA account.</h3>
		<p>It's a good idea to close all browser windows to end the third party session or click the button below to log back in.</p>
		<a href="{{ path('docova_homepage') }}">Log Back In</a>
	</div>
</body>
</html>