<HTML>
<HEAD>
<TITLE>{{ settings.getApplicationTitle }}</TITLE>
<frameset id="fsContentFramesetSearch" ROWS="37,*" FRAMEBORDER="0" BORDER="0" FRAMESPACING="0">
	<frame TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" id="fraTabbedTableSearch" name="fraTabbedTableSearch" SRC="{{ path('docova_TabbedTable') }}" scrolling="No">
	<frame TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" FRAMEBORDER="0" BORDER="0" id="mainsearchtab" name="mainsearchtab" SRC="{{ path('docova_search') }}">
</frameset>
</HTML>
